<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.SysPromptMapper">

    <resultMap type="SysPrompt" id="PromptResult">
        <id     property="promptId"       column="prompt_id"      />
        <result property="chatType"       column="chat_type"      />
        <result property="promptContent"  column="prompt_content" />
        <result property="createBy"       column="create_by"      />
        <result property="createTime"     column="create_time"    />
        <result property="updateBy"       column="update_by"      />
        <result property="updateTime"     column="update_time"    />
        <result property="remark"         column="remark"         />
    </resultMap>

    <sql id="selectPromptVo">
        select prompt_id, chat_type, prompt_content, create_by, create_time, update_by, update_time, remark
        from sys_prompt
    </sql>

    <!-- 查询条件 -->
    <sql id="sqlwhereSearch">
        <where>
            <if test="promptId !=null">
                and prompt_id = #{promptId}
            </if>
            <if test="chatType !=null and chatType != ''">
                and chat_type = #{chatType}
            </if>
        </where>
    </sql>

    <select id="selectPrompt" parameterType="SysPrompt" resultMap="PromptResult">
        <include refid="selectPromptVo"/>
        <include refid="sqlwhereSearch"/>
    </select>

    <select id="selectPromptList" parameterType="SysPrompt" resultMap="PromptResult">
        <include refid="selectPromptVo"/>
        <where>
            <if test="chatType != null and chatType != ''">
                AND chat_type like concat('%', #{chatType}, '%')
            </if>
            <if test="promptContent != null and promptContent != ''">
                AND prompt_content like concat('%', #{promptContent}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                and date_format(create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                and date_format(create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
        </where>
    </select>

    <select id="selectPromptById" parameterType="Long" resultMap="PromptResult">
        <include refid="selectPromptVo"/>
        where prompt_id = #{promptId}
    </select>

    <select id="checkChatTypeUnique" parameterType="String" resultMap="PromptResult">
        <include refid="selectPromptVo"/>
        where chat_type = #{chatType} limit 1
    </select>

    <insert id="insertPrompt" parameterType="SysPrompt">
        insert into sys_prompt (
        <if test="chatType != null and chatType != '' ">chat_type,</if>
        <if test="promptContent != null and promptContent != '' ">prompt_content,</if>
        <if test="createBy != null and createBy != ''">create_by,</if>
        <if test="remark != null and remark != ''">remark,</if>
        create_time
        )values(
        <if test="chatType != null and chatType != ''">#{chatType},</if>
        <if test="promptContent != null and promptContent != ''">#{promptContent},</if>
        <if test="createBy != null and createBy != ''">#{createBy},</if>
        <if test="remark != null and remark != ''">#{remark},</if>
        sysdate()
        )
    </insert>

    <update id="updatePrompt" parameterType="SysPrompt">
        update sys_prompt
        <set>
            <if test="chatType != null and chatType != ''">chat_type = #{chatType},</if>
            <if test="promptContent != null and promptContent != ''">prompt_content = #{promptContent},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            <if test="remark != null">remark = #{remark},</if>
            update_time = sysdate()
        </set>
        where prompt_id = #{promptId}
    </update>

    <delete id="deletePromptById" parameterType="Long">
        delete from sys_prompt where prompt_id = #{promptId}
    </delete>

    <delete id="deletePromptByIds" parameterType="Long">
        delete from sys_prompt where prompt_id in
        <foreach item="promptId" collection="array" open="(" separator="," close=")">
            #{promptId}
        </foreach>
    </delete>

</mapper>